body>section{
    height: 100vh;
    position: relative;
}
body>section>div{
    height: 60px;
    position: sticky;
    top: 0;
}
body>section>div>p{
    display: inline-block;
    font-size: 30px;
    margin-top: 12px;
    margin-left: 11px;
    color: #eeeeee;
}
body>:nth-child(2){
    background-color: #74B9FF;
}
body>:nth-child(3){
    background-color: gray;
}
body>:nth-child(4){
    background-color: red;
}
body>:nth-child(1)>div{
    background-color: rgba(252, 7, 30, 0.79);
}
body>:nth-child(2)>div{
    background-color: rgba(52, 31, 151, 0.66);
}
body>:nth-child(3)>div{
    background-color: rgba(169, 169, 169, 0.68);
}
body>:nth-child(4)>div{
    background-color: rgba(80, 77, 77, 0.78);
}
body>section>p{
    font-size: 120px;
    text-align: center;
    padding-top: 15%;
    font-style: initial;
}
