
*{
    font-family: Poppins, sans-serif; !important;
}
a {
    display: inline-block;
}
a {
    color: black;
    text-decoration: none;
}
html{
    width: 1350px;
    font-size: 92.5%;
}

menu {
    display: inline;
    list-style-type: none;
    padding: 0;

}
menu > li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
span {
    color: #DF224F;
}
a {
    text-decoration: none;
    color: #ffffff;
}

header {
    background: #2E2D32;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 50px;
    width: 1350px;
    box-shadow: 0 1px 2px 1px gray;
}
body {
    font-family: Poppins, sans-serif; !important;
    background-color: rgb(53, 52, 52);
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    letter-spacing: 0.08rem;
    font-weight: 400;
    width: 1350px;

}

header > aside {
    display: inline-block;
}
#logo{

    border-radius: 100%;
    /*background: url("../../Assignments/css/img/me.jpg");*/
    /*background: #04c134;*/
    /*!*position: relative;*!*/
    /*top: 100px;*/
    /*margin-left: 10px;*/
    /*width: 50px;*/
    /*height: 50px;*/
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 0px;

    background: #D9D9D9;
}
#logo-pic{
    border-radius: 100%;
    /*background: url("../../Assignments/css/img/me.jpg");*/
    /*position: relative;*/
    /*width: 45px;*/
    /*height: 45px;*/
    /*object-fit: contain;*/
    position: absolute;
    width: 45px;
    height: 45px;
    left: 2px;
    top: 2px;
    object-fit: cover;
    background: url("../img/portfolio/me.jpg");
    border: 1px solid #000000;
}
header > nav {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
}

header > nav > menu > li > a:hover {
    color: #DF224F;
}
header > nav > menu > li > a {
    transition: 0.3s all;
}

header > nav > menu > li > a::after {
    content: '';
    display: block;
    width: 0%;
    height: 6px;
    background-color: #DF224F;
    border-radius: 25px;
    transition: width .3s;
}

header > nav > menu > li > a:hover::after {
    width: 60%;
    transition: width .3s;
}
header > nav > menu > li {
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}
header > nav > menu {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    position: relative;
    right: 21px;
    top: -23px;
}

#autoTyping{
    font-size: 60px;
    color: #ffffff;
    z-index: 1;
    position: relative;
    top: 0px;
    left: 80px;
    text-align: center;
}
#home_section> aside> div{
    /*position: absolute;*/
    width: 1350px;
    height: 630px;!important;
    background: url("../../assets/img/portfolio/coding_background.jpg") center center / cover no-repeat fixed;
    /*background-position: center 0px;*/
    opacity: 85%;
    /*z-index: 0;*/
    position: relative;

}
#home_section{
    position: relative;
    top: 51px;
    width: 1350px;
    /*height: 100vh;*/
}
#home_section>aside{
    position: relative;
    height: 100vh;
    width: 1350px;
}
/*#home_section>section>div:nth-child(1){*/
/*    position: relative;*/
/*    width: 70%;*/
/*    height: 100px;*/
/*    top: 0px;*/
/*    left: 0px;*/
/*}*/
/*#home_section>section>div:nth-child(2){*/

/*}*/

#home_section>section>div:nth-child(1){
    position: relative;
    width: 70%;
    height: 200px;
    left: 114px;
    top: -651px;
    /*top: -1091px;*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 116px;
    font-size: 50px;

    color: #FFFFFF;
}
#home_section>section>div:nth-child(2){
    position: absolute;
    width: 60%;
    height: 150px;
    left: 255px;
    top: 220px;

    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF
}
#home_section>section>a{

    position: absolute;
    width: 150px;
    height: 65px;
    left: 585px;
    top: 361px;
    box-sizing: border-box;
    background: #DF224F;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;

    /*position: absolute;*/
    /*width: 98px;*/
    /*height: 29px;*/
    /*left: 778px;*/
    /*top: 383px;*/

    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
}
#home_section>section>a:hover {
    /*background-color: #000000;*/
    box-shadow: 0 0 12px 2px #0089ff;
    color: #000000;
    border: solid #0089ff 2px;
    background-color: #ffffff;
    transition: 1s;
}

#scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;

    z-index: 9;
    color: #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
}

#scroll-to-top i {
    position: relative;
    top: -1px;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

#scroll-to-top:hover {
    background: #fff;
    color: #ff0066;
    transform: scale(1.2); !important;
}

#about_section{
    position: absolute;
    width: 1350px;
    height: 615px;
    left: 0px;
    top: 640px;

    background: #2E2D32;
}
#about-img{
    position: absolute;
    width: 332px;
    height: 487px;
    left: 69px;
    top: 100px;

    background: linear-gradient(0deg, #000000, #000000), #000000;
    border-radius: 26px;
}
#about-img-1{
    position: absolute;
    width: 332px;
    height: 487px;
    left: 23px;
    top: -26px;

    background: url(../../assets/img/portfolio/about-me.png), linear-gradient(0deg, rgba(184, 96, 96, 0.61), rgba(184, 96, 96, 0.61)), #000000;
    border-radius: 20px;
    transition: transform 2s;
}
#about-img-1:hover{
    transform: scale(1.075);
}
.pop{
    transition: transform 2s;
}
.pop:hover{
    transform: scale(1.075);
}

#about-img-exp{
    position: absolute;
    width: 102px;
    height: 127px;
    left: 23px;
    top: 141px;
    /*text-align: center;*/
    transition: transform 2s;
    background: #DE2626;
}
#about-img-exp:hover{
    transform: scale(1.075);
}
#about-img-exp>div:nth-child(1){
    position: absolute;
    width: 102px;
    height: 127px;
    left: 39px;
    top: -17px;
}
#about-img-exp>div:nth-child(2){
    position: absolute;
    text-align: center;
    top: 17px;
    font-size: 1em;
    letter-spacing: 0.06rem;

}
#about_section>section{
    position: absolute;
    width: 893px;
    height: 600px;
    left: 457px;
    top: 0px;

}
#btn2:hover{
    box-shadow: 0 0 12px 2px #0089ff;
    color: #000000; !important;
    border: solid #0089ff 2px;
    background-color: #ffffff;
    transition: 1s;
}
#btn3:hover{
    box-shadow: 0 0 12px 2px #0089ff;
    color: #000000; !important;
    border: solid #0089ff 2px;
    background-color: #ffffff;
    transition: 1s;
}
#box{
    position: absolute;
    width: 129px;
    height: 10px;
    left: 0px;
    top: 80px;

    background: #DF224F;
}
#box-1{
    position: absolute;
    width: 95%;
    height: 50px;
    left: 0px;
    top: 83px;

}
#box-2{
    position: absolute;
    width: 95%;
    height: 299px;
    left: 0px;
    top: 175px;
}
#box-2>p{
    line-height: 30px;
}
#box-3>a{
    box-sizing: border-box;

    position: absolute;
    width: 144px;
    height: 65px;
    left: 0px;
    top: 543px;

    background: #DF224F;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
#box-4>a{
    box-sizing: border-box;

    position: absolute;
    width: 237px;
    height: 65px;
    left: 243px;
    top: 543px;

    background: #DF224F;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

}
#services_section{
    position: absolute;
    width: 1350px;
    height: 880px;
    left: 0px;
    top: 1252px;

    background: #2E2D32;
}
#services_section>div:nth-child(1){
    position: absolute;
    width: 129px;
    height: 10px;
    left: 50px;
    top: 80px;

    background: #DF224F;
}
#services_section>div:nth-child(2){
    position: absolute;
    width: 155px;
    height: 44px;
    left: 50px;
    top: 83px;
}
#services_section>div:nth-child(3){
    position: absolute;
    width: 1260px;
    height: 100px;
    left: 50px;
    top: 167px;
}
#services_section>div:nth-child(4){
    position: absolute;
    width: 600px;
    height: 390px;
    left: 50px;
    top: 434px;

    background: #FFFFFF;
    border-radius: 20px;
}

#services_section>div:nth-child(4)>i{

    height: 130px;
    width: 130px;
    text-align: center;
    line-height: 130px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    position: absolute;
    left: 40px;
    top: -75px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 30px 30px -15px;
    background: rgb(255, 0, 102);
    border-radius: 50%;
    transition: all 0.4s linear 0s;
}

#services_section>div:nth-child(5)>i{
    height: 130px;
    width: 130px;
    text-align: center;
    line-height: 130px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    position: absolute;
    left: 40px;
    top: -75px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 30px 30px -15px;
    background: rgb(255, 0, 102);
    border-radius: 50%;
    transition: all 0.4s linear 0s;
}

#services_section>div:nth-child(5){
    position: absolute;
    width: 600px;
    height: 390px;
    left: 730px;
    top: 434px;

    background: #FFFFFF;
    border-radius: 20px;
}
#ser-box1-title{
    position: absolute;
    top: 70px;
    left: 30px;
}
#ser-box1-para{
    position: absolute;
    top: 160px;
    left: 30px;
}
#ser-box2-title{
    position: absolute;
    top: 70px;
    left: 30px;
}
#ser-box2-para{
    position: absolute;
    top: 160px;
    left: 30px;
}
/*resume section*/

#resume_section{
    position: absolute;
    width: 1350px;
    height: 880px;
    left: 0px;
    top: 2090px;

    background: #2E2D32;
}
#resume_section>div:nth-child(1){
    position: absolute;
    width: 129px;
    height: 10px;
    left: 50px;
    top: 80px;

    background: #DF224F;
}
#resume_section>div:nth-child(2) {
    position: absolute;
    width: 155px;
    height: 44px;
    left: 50px;
    top: 83px;
}
#resume_section>div:nth-child(3) {
    position: absolute;
    width: 1275px;
    height: 100px;
    left: 50px;
    top: 167px;
}
#resume_section>div:nth-child(4) {
    position: absolute;
    width: 600px;
    height: 390px;
    left: 50px;
    top: 300px;
    background: #FFFFFF;
    border-radius: 20px;
}
#resume_section>div:nth-child(5) {
    position: absolute;
    width: 600px;
    height: 390px;
    left: 730px;
    top: 300px;
    background: #FFFFFF;
    border-radius: 20px;
}
#re-1>div{
    position: absolute;
    width: 138px;
    height: 50px;
    left: 40px;
    top: 40px;
    text-align: center;

    background: #DF224F;
    border-radius: 10px;
}
#re-1>div>h5{
    position: absolute;
    top: -25px;
    left: 5px;
}
#res-box1-title{
    position: absolute;
    width: 420px;
    height: 29px;
    left: 40px;
    top: 100px;

    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;
}
#res-box1-title-2{
    position: absolute;
    width: 450px;
    height: 22px;
    left: 40px;
    top: 135px;

    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #AC450B;
}
#res-box1-para{
    position: absolute;
    width: 525px;
    height: 72px;
    left: 40px;
    top: 207px;

    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}
/**/
#re-2>div{
    position: absolute;
    width: 138px;
    height: 50px;
    left: 40px;
    top: 40px;
    text-align: center;

    background: #DF224F;
    border-radius: 10px;
}
#re-2>div>h5{
    position: absolute;
    top: -25px;
    left: 5px;
}
#res-box2-title{
    position: absolute;
    width: 450px;
    height: 29px;
    left: 40px;
    top: 100px;

    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;
}
#res-box2-title-2{
    position: absolute;
    width: 480px;
    height: 22px;
    left: 40px;
    top: 135px;

    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #AC450B;
}
#res-box2-para{
    position: absolute;
    width: 525px;
    height: 72px;
    left: 40px;
    top: 207px;

    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

/*counts*/

.counts {
    top: 2970px;
    width: 1350px;
    /*opacity: 80%;*/
    /*padding: 1500px 0px;*/
    background: url(../img/portfolio/cricles_background.jpg) center center / cover no-repeat fixed;
}
/*{box-sizing: border-box}*/

.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.java{width: 95%; background-color: #7804aa; height: 40px}
.html {width: 80%; background-color: #04AA6D; height: 40px}
.css {width: 88%; background-color: #2196F3; height: 40px}
.js {width: 85%; background-color: #f44336; height: 40px}
.web {width: 90%; background-color: #808080; height: 40px}

#skills{
    position: absolute;
    width: 1200px;
    height: 300px;
    left: 70px;
    top: 37px;

}
.skill-name{
    line-height: 0.5;
    color: black;
}

/*latest work*/
#latest-work{
    position: absolute;
    width: 1350px;
    height: 1300px;
    left: 0px;
    /*top: 3655px;*/
    background: #2E2D32;
}
#latest-work>div:hover{
    transform: scale(1.075);
}
#latest-work>div{
    box-shadow: black -2px 2px 4px -2px;
    border-radius: 10px;
    transition: transform 1s;
}
#latest-work>div:nth-child(1) {
    position: absolute;
    width: 129px;
    height: 10px;
    left: 50px;
    top: 80px;
    background: #DF224F;
}
#my1Working{
    height: 360px ;
    width: 360px;
    background: url("../img/portfolio/blueOcationHotel.png");
    position: relative;
    left: 50px;
    top: 240px;
    text-align: center;


}
#my1Working>h5{
    height: 100px ;
    width: 360px;
    /*background: #799048;*/
    position: relative;
    left: 0px;
    top: 370px;
}

#my2Working{
    height: 360px;
    width: 360px;
    background: url("../img/portfolio/Portpolio.png");
    position: relative;
    left: 480px;
    top: -155px;
    text-align: center;
}
#my2Working>h5{
    position: relative;
    top: 370px;
    left: 0px;
}

#my3Working{
    height: 360px;
    width: 360px;
    background: url("../img/portfolio/vehical-service.png");
    position: relative;
    left: 910px;
    top: -550px;
    text-align: center;
}
#my3Working>h5{
    position: relative;
    top: 370px;
    left: 0px;
}

#my4Working{
    height: 360px;
    width: 360px;
    background: url("../img/portfolio/connet-for-game.jpg");
    position: relative;
    left: 50px;
    top: -490px;
    text-align: center;
}
#my4Working>h5{
    position: relative;
    top: 370px;
    left: 0px;
}

#my5Working{
    height: 360px;
    width: 360px;
    background: url("../img/portfolio/hostel-system.png");
    position: relative;
    left: 480px;
    top: -885px;
    text-align: center;
}
#my5Working>h5{
    position: relative;
    top: 370px;
    left: 0px;
}

#my6Working{
    height: 360px;
    width: 360px;
    background: url("../img/portfolio/chatApp.png");
    position: relative;
    left: 910px;
    top: -1280px;
    text-align: center;
}
#my6Working>h5{
    position: relative;
    top: 370px;
    left: 0px;
}
#latest-work>div:nth-child(1)>h2{
    width: 300px;
}
#project-area-padding{
    /*position: relative;*/
    /*top: 3970px;*/
    width: 1350px;
    /*opacity: 80%;*/
    /*padding: 840px 0px;*/
    background: url(../../Assignments/css/img/project-bg.jpg) center center / cover no-repeat fixed;
}
#btn4:hover{
    box-shadow: 0 0 12px 2px #0089ff;
    color: #000000; !important;
    border: solid #0089ff 2px;
    background-color: #ffffff;
    transition: 1s;
}
#project-area{
    position: absolute;
    width: 1350px;
    height: 663px;
    left: 0px;
    /*top: 600px;*/
    /*top: 4955px;*/
}
#project-area>div{
    position: absolute;
    width: 129px;
    height: 10px;
    left: 50px;
    top: 150px;
    background: #DF224F;
}
#project-area>h2{
    position: absolute;
    width: 800px;
    height: 10px;
    left: 50px;
    top: 200px;
}
#project-area>p{
    position: absolute;
    width: 800px;
    height: 10px;
    left: 50px;
    top: 300px;
}
#project-area>a{
    box-sizing: border-box;
    position: absolute;
    width: 187px;
    height: 65px;
    left: 50px;
    top: 495px;
    background: #DF224F;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
/*my vlog*/
#my-vlog-section{
    position: absolute;
    width: 1350px;
    height: 1640px;
    left: 0px;
    /*top: 5660px;*/
    top: 5871px;
    /*background: #1E1E1E;*/
}
#my-vlog-section>div{
    position: absolute;
    width: 129px;
    height: 10px;
    left: 50px;
    top: 80px;
    background: #DF224F;
}
#my-vlog-section>h2{
    position: absolute;
    width: 800px;
    height: 10px;
    left: 50px;
    top: 85px;
}
#my-vlog{
    position: absolute;
    top: 242px;
    left: 3%;
    height: 149vh;
    width: 92%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}
#my-vlog>div{
    box-shadow: black -2px 2px 4px -2px;
    border-radius: 10px;
    /*transition: transform 0.5s ease 0s;*/
    transition: transform 1s;

}
#my-vlog>div:hover {
    transform: scale(1.075);

}

#my-vlog>div:nth-child(1){
    background-image: url(../../assets/img/Cric_2.jpg);
    background-size: cover;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
#my-vlog>div:nth-child(2){
    background-image: url(../../assets/img/portfolio/IMG-20230601-WA0114.jpg);
    background-size: cover;
    /*grid-column: 1 / 2;*/
    /*grid-row: 1 / 2;*/
}
#my-vlog>div:nth-child(3){
    background-image: url(../../assets/img/portfolio/Screenshot_20230223-192842_Facebook.jpg);
    background-size: cover;
    /*grid-column: 3 / 5;*/
    /*grid-row: 1 / 3;*/
}
#my-vlog>div:nth-child(4){
    background-image: url(../../assets/img/portfolio/Screenshot_20230223-184921_Facebook.jpg);
    background-size: cover;
    /*grid-column: 1 / 2;*/
    /*grid-row: 1 / 2;*/
}
#my-vlog>div:nth-child(5){
    background-image: url(../../assets/img/portfolio/Screenshot_20230223-184810_Facebook.jpg);
    background-size: cover;
    /*grid-column: 1 / 2;*/
    /*grid-row: 1 / 2;*/
}
#my-vlog>div:nth-child(6){
    background-image: url(../../assets/img/portfolio/IMG-20230601-WA0123.jpg);
    background-size: cover;
    /*grid-column: 1 / 2;*/
    /*grid-row: 1 / 2;*/
}
#my-vlog>div:nth-child(7){
    background-image: url(../../assets/img/portfolio/FB_IMG_1677158042703.jpg);
    background-size: cover;
    /*grid-column: 1 / 2;*/
    /*grid-row: 1 / 2;*/
}
#my-vlog>div:nth-child(8){
    background-image: url(../../assets/img/portfolio/me2.jpg);
    background-size: cover;
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}
#my-vlog>div:nth-child(9){
    background-image: url(../../assets/img/portfolio/FB_IMG_1677158200557.jpg);
    background-size: cover;
    /*grid-column: 1 / 2;*/
    /*grid-row: 1 / 2;*/
}
#my-vlog>div:nth-child(10){
    background-image: url(../../assets/img/portfolio/IMG-20230213-WA0017.jpg);
    background-size: cover;
    /*grid-column: 1 / 2;*/
    /*grid-row: 1 / 2;*/
}

/*assignment section*/
#assignment_section{
    position: absolute;
    width: 1350px;
    height: 663px;
    /*height: 910px;*/
    left: 0px;
    top: 5980px;
}
#assignment_section>div:nth-child(1){
    position: relative;
    width: 129px;
    height: 10px;
    left: 50px;
    top: 10px;
    background: #DF224F;
}
#assi{
    position: relative;
    top: 25px;
}
#assignment_section> nav {
    display: none;
}
#assignment_section> section {
    position: relative;
    height: 70%;
    top: 156px;
    left: 0%;

    /*position: relative;*/
    display: flex;
    align-items: center;
    width: 94%;
    /*height: 100%;*/
    /*top: 0;*/
    bottom: 0;
    /*left: 0;*/
    right: 0;
    margin: auto;

}

#assignment_section> section > section {
    flex-direction: column;
    height: 100%;
}

#assignment_section> section > section > div:nth-child(1) {
    width: 100%;
    height: 250px;
    top: 175px;
}
#assignment_section> section > section > div:nth-child(1) {
    width: 37%;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    height: 84%;
    border-radius: 20px;
    box-shadow: 0 2px 4px -2px black;
    justify-content: center;
    position: absolute;
    top: 8%;
    left: -48%;
    right: 0;
    margin: auto;
    transition: transform 1s;
}

#assignment_section> section > section > div:nth-child(3) {
    width: 540px;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 4px -2px black;
    justify-content: center;
    position: absolute;
    left: 0%;
    right: 0;
    top: 0%;
    margin: auto;
    transition: transform 2s;
}
#assignment_section> section > section > div:nth-child(3) > a > img {
    height: 95%;
    width: 95%;
    border-radius: 15px;
}
#assignment_section> section > section > div:nth-child(1) > a > div {
    background: url(../img/portfolio/ass-1.png);
    background-position: center;
    background-size: cover;
}
#assignment_section> section > section > div > a > div {
    height: 95%;
    width: 95%;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#assignment_section> section > section > div:nth-child(3) > a > div {
    background: url(../img/portfolio/ass-2.png);
    background-position: center;
    background-size: cover;
}
#assignment_section> section > section > div:nth-child(2) > a > div {
    background: url(../img/portfolio/ass-3.png);
    background-position: center;
    background-size: cover;
}

#assignment_section> section > section > div:nth-child(1) > a > img {
    width: 95%;
    height: 95%;
    border-radius: 15px;
}

#assignment_section> section > section > div:nth-child(2) {
    width: 37%;
    height: 84%;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px -2px black;
    justify-content: center;
    position: absolute;
    top: 8%;
    left: 577px;
    right: 0;
    margin: auto;
    transition: transform 2s;

}

#assignment_section> section > section > div:nth-child(2) > a > img {
    height: 95%;
    width: 95%;
    border-radius: 15px;
}

#assignment_section> section > section > div:hover{
    transform: scale(1.075);
}



.button_right > button {
    position: absolute;
    width: 50px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: -2px 2px 6px -3px black;
    border: none;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(53 50 50);
}

.button_left > button {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 2px 2px 6px -3px black;
    border: none;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(53 50 50);
}

#see{
    width: 140px;
    height: 40px;
    position: relative;
    left: 84%;
    top: 62%;
}
#see-more{
    width: 140px;
    height: 40px;
    position: relative;
    left: 0px;
    top: 0%;
}
#see-more>a{
    width: 140px;
    height: 43px;
    /*line-height: 3;*/
    position: relative;
    box-sizing: border-box;
    background: #DF224F;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    /*padding: 15px;*/
    color: #FFFFFF;
    /*left: 1173px;*/
    /*top: 655%;*/
}
#see-more>a:hover{
    box-shadow: 0 0 12px 2px #0089ff;
    color: #000000; !important;
    border: solid #0089ff 2px;
    background-color: #ffffff;
    transition: 1s;
}


#see-more > a > i {
    width: 140px;
    height: 43px;
    /*box-shadow: -2px 2px 6px -3px black;*/
    border: none;
    border-radius: 5px;
    /*transition: transform 1s;*/
    /*background-color: rgb(53 50 50);*/
    position: relative;
    /*left: 1173px;*/
    /*top: 655%;*/

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*contact section*/

#contact_section{
    position: absolute;
    width: 1350px;
    height: 663px;
    left: 0px;
    top: 5980px;
}
#my-contact{
    position: relative;
    width: 32%;
    height: 65%;
    left: 67%;
    /*border: solid black;*/
    display: block;
    top: 21%;
}
#my-contact > div {
    position: relative;
    margin: 44px 88px 50px;
    height: 60px;
    display: block;
}
#my-contact > div > i {
    display: inline-block;
    position: absolute;
    top: 72px;
    color: #DF224F;
    font-size: 2em;
    margin: -57px;
    left: -22px;
}
#my-contact > div > h4 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -3px;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
}
#my-contact > div > p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 38px;
    font-size: 1em;
    color: #ffffff;
    margin: -42px;
    font-family: 'Inter', sans-serif;
    top: 80px;
}
#contact_section>div:nth-child(1){
    position: absolute;
    width: 129px;
    height: 10px;
    left: 50px;
    top: 13px;
    background: #DF224F;
}
#contact_section>h2{
    position: absolute;
    width: 800px;
    height: 10px;
    left: 50px;
    top: 17px;
}
.contact{
    position: absolute;
    width: 800px;
    height: 600px;
    left: 50px;
    top: 115px;
    border-radius: 5px;
    background-color: rgb(53, 52, 52);
    padding: 20px;

}


/** {box-sizing: border-box;}*/
input[type=text], select, textarea {
    width: 47%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=number] {
    width: 47%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    position: absolute;
    top: 20px;
    left: 425px;
}


input[type=submit] {
    /*background-color: #DF224F;*/
    color: white;
    padding: 12px 20px;
    /*border: none;*/
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    left: 340px;
    top: 491px;

    box-sizing: border-box;
    background: #DF224F;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*border-radius: 10px;*/
    /*cursor: pointer;*/
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    /*padding: 15px;*/
    /*color: #FFFFFF;*/
}

input[type=submit]:hover {
    box-shadow: 0 0 12px 2px #0089ff;
    color: #000000; !important;
    border: solid #0089ff 2px;
    background-color: #ffffff;
    transition: 1s;
}
#country{
    width: 47%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#massage{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#subject{
    position: relative;
    left: 22px;
    width: 394px;
}


/*footer*/

.footer{
    position: absolute;
    width: 1350px;
    height: 372px;
    left: 0px;
    top: 6000px;
    /*top: 9774px;*/

    background: #000000;

}
.footer>div:nth-child(1){
    width: 100%;
    height: 150px;
    background: #000000;
    position: relative;
    display: flex;
    /*align-content: center;*/

}
#teams{
    width: 57%;
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
}
#teams>div{

    /*border: 1px solid green;*/
    width: 30%;
    height: 50px;
    flex-grow: 1;
}
#media{
    width: 400px;
    /*display: flex;*/
    /*align-items: center;*/
    position: relative;
    left: 108px;
    /*width: 100%;*/
    height: 13%;
    display: flex;
    /*position: absolute;*/
    top: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fa:hover {
    font-size: 40px;
    box-shadow: 0 0 12px 2px #ff0066;
    color: #ffffff;
    border: solid #ff0066 2px;
    background-color: #ff0066;
    transition: 0.2s;
}

.fa{
    color: #000000;
    border: solid #ffffff 2px;
    border-radius: 100%;
    width: 50px;
    background-color: white;
    height: 50px;
    box-shadow: 0 0 11px -4px black;
}
#media>div{
    /*border: 1px solid green;*/
    width: 80px;
    height: 80px;
    flex-grow: 1;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.social_media > a > i {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#media>div>a{
    width: 80px;
    height: 80px;
    line-height: 3;

}

.footer>div:nth-child(2){
    width: 100%;
    height: 150px;
    background: #000000;
    /*position: relative;*/
    /*align-content: center;*/

}
#footer_end>div:nth-child(1){
    width: 93%;
    height: 4px;
    background-color: white;
    position: relative;
    left: 50px;

}
#footer_end>div:nth-child(2)>small{
    position: relative;
    left: 530px;
    right: 0;
    bottom: 0;
    top: 27px;
    margin: auto;
}
#name{
    color: #0c63e4;
}

@media screen and (max-width: 1900px) {

    #home_section>section{
        position: absolute;
        top: 2%;
        width: 100%;
    }

    #home_section>section>div:nth-child(1){
        top: 0%;
    }
    #home_section>section>div:nth-child(1)>span{
        position: relative;
        top: 0;
        /*bottom: 200%;*/
    }


    #btn-nav {
        display: none;
    }
    html {
        width: auto;
    }

    header {
        width: 100%;
    }

    body {
        width: 100%;
    }

    #logo {
        left: 15px;
    }

    #logo-pic {
        width: 44px;
        height: 44px;
        transition: transform 2s;
        cursor: pointer;
    }

    header > nav {
        right: 15px;
    }

    #home_section > aside > div {
        width: 100%;
        height: 630px;
    }
    #autoTyping{
        position: relative;
        top: -446px;
    }
    .counts {
        position: absolute;
        padding: 363px 0px;
    }
    #latest-work {
        /*position: absolute;*/
        top: 3705px;
    }
    #project-area-padding {
        position: relative;
        padding: 0px 0px;
        height: 680px;
        top: 4286px;

    }
    #assignment_section {
        position: relative;
        /*top: 2373px;*/
    }
    #contact_section {
        position: relative;
        /*top: 2423px;*/
    }
    .footer {
        position: relative;
        /*top: 2526px;*/
    }
}


@media (max-width: 600px){
    #btn-nav {
        width: 70px;
        top: 12px;
        bottom: 0;
        margin-bottom: auto;
        margin-top: auto;
        height: 50px;
        position: absolute;
        right: 5px;
        display: revert;
    }

    #about-img {
        display: none;
    }

    #about_section>section {
        width: 94%;
        left: 50px;
    }

    #box-3>a {
        width: 237px;
        left: 290px;
    }

    #box-4>a {
        left: 685px;
    }

    #services_section {
        height: 994px;
    }

    #services_section>div:nth-child(3) {
        display: none;
    }

    #services_section>div:nth-child(4) {
        width: 93%;
        height: 300px;
        left: 50px;
        top: 225px;
    }

    #services_section>div:nth-child(4)>i {
        left: 85%;
    }

    #services_section>div:nth-child(5) {
        width: 93%;
        height: 300px;
        left: 50px;
        top: 635px;
    }

    #services_section>div:nth-child(5)>i {
        left: 85%;
    }

    #resume_section {
        top: 2152px;
    }

    #resume_section>div:nth-child(3) {
        display: none;
    }

    #resume_section>div:nth-child(4) {
        width: 93%;
        height: 271px;
        top: 220px;
    }

    #res-box1-para {
        width: 50%;
        height: 72px;
        left: 535px;
        top: 100px;
    }

    #resume_section>div:nth-child(5) {
        width: 93%;
        height: 271px;
        top: 535px;
        left: 50px;
    }

    #res-box2-para {
        width: 50%;
        height: 72px;
        left: 535px;
        top: 100px;
    }

    #skills {
        /*top: 3037px;*/
    }

    header > nav > menu {
        display: none;
    }

}

@media screen and (min-width: 600px){
    #btn-nav {
        display: none;
    }
    /*#home_section>section>div:nth-child(1) {*/
    /*    top: -1089px;*/
    /*}*/
}

#loader {
    height: 100vh;
    width: 100vw;
    transition: opacity 1s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
   z-index: 5;

}

#loader>div  {
    width: 290px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url("../img/portfolio/loader1.gif");
    background-size: cover;
    background-position: center;
}
.typed-cursor.typed-cursor--blink {
    display: none;
}

#pp{
    position: relative;
    left: 35px;
}





