body>:nth-child(1){
    height: 100vh;
    position: relative;
}
body>:nth-child(2){
    height: 100vh;
    position: relative;
}
body>:nth-child(3){
    height: 100vh;
    position: relative;
}
body>section>div{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
body>:nth-child(1)>div{
    background-color: blueviolet;
}
body>:nth-child(2)>div{
    background-color: #74B9FF;
}
body>:nth-child(3)>div{
    background-color: coral;
}
body>:nth-child(4){
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 15px solid red;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
body>:nth-child(5){
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 30px solid gray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
body>:nth-child(1)>div>h1{
    color: #eeeeee;
    text-align: center;
    margin: 0;
    padding-top: 40%;
}
body>:nth-child(2)>div>h1{
    color: #eeeeee;
    text-align: center;
    margin: 0;
    padding-top: 40%;
}
body>:nth-child(3)>div>h1{
    color: #eeeeee;
    text-align: center;
    margin: 0;
    padding-top: 21%;
}